# Python
__pycache__/
*.pyc
*.pyo

# ROS 2 build artifacts
build/
install/
log/

# IDE
.vscode/
.idea/
venv/
.venv/


# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot

# Output PDF (optional ignore)
Reports/Smart_Cart_CW2_PDE4435_Report_v1_0/*.pdf